:root {
  --verde_claro: #589693;
  --verde_escuro: #0c5a59;
  --rosa_roxo: linear-gradient(to right, #af3b81 0%, #5432cf 100%);
}

.entrar {
  margin: auto;
  background: var(--rosa_roxo);
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.entrar:hover {
  filter: brightness(110%);
  transform: scale(1.05);
}
